DATABASE_URL=sqlite:///./tracez.db
SECRET_KEY=change-me-in-production-use-64-char-random
ADMIN_EMAIL=admin@1
ADMIN_PASSWORD=divesh@9192
VIRUSTOTAL_API_KEY=
GOOGLE_SAFE_BROWSING_KEY=
OTX_API_KEY=
CORS_ORIGINS=chrome-extension://,http://localhost:3000
ENVIRONMENT=development
